body {
  align-items: center;
  text-align: center;
  background-color: #000;
  margin: 125px auto;
}

h1 {
  font-size: 100px;
  margin: 0;
}

h6 {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 150px;
  letter-spacing: .14em;
}

p {
  color: #fff;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.moovie {
  font-family: 'Righteous', cursive;
  letter-spacing: .25em;
}

.wiz {
font-family: 'Hachi Maru Pop', cursive;
letter-spacing: -.20em;
}

input {
  text-align: center;
  bottom: 0;
  height: 50px;
  width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  border-radius: 90px 10px 90px 10px;
  border: 1px;
  outline: none;
}

button {
  height: 50px;
  width: 125px;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 15px;
  background-color: #fff;
  border: 1px;
  font-size: 25px;
  color: #fff;
  background: linear-gradient(130deg,#FFE599,#CC0000,#6AA84F 41.07%,#3C78D8 76.05%);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 35px;
  cursor: pointer;
  outline: none;
}

button:hover {
  transform: scale(1.1);
}

.movieTitle, .movieYear, .Rated {
  color: #fff;
}

.allCards {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 10px;
  position: relative;
}

#poster {
  display: flex;
  flex-direction: row;
}

#sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 30px;
  text-align: left;
}

#movieInfo {
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

#movieInfo, #sidebar {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 300px;
  height: 444px;
}

.movieTitle {
  margin: 0;
  padding-bottom: 15px;
}

img {
  padding: 6px;
  margin: 6px;
  position: absolute;
  z-index: -1;
  border: 1px;
  border-radius: 10px 10px 10px 10px;
  background: linear-gradient(130deg,#FFE599,#CC0000,#6AA84F 41.07%,#3C78D8 76.05%);
}
